{% extends "site/master.html" %} {% block content %}

<section class="uk-container uk-margin-medium-bottom" uk-height-viewport="expand: true">
  <p class="uk-margin-medium-top uk-margin-medium-bottom">Caminho: <b class="uk-text-bold">{{ base_path }}</b></p>
  <div class="uk-width-1-1">
    <h1 class="uk-heading-line uk-text-center uk-margin-large-top uk-margin-large-bottom">
      <span>Administrador</span>
    </h1>
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title">Usuários</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="{{ base_path }}/user" class="uk-button uk-button-default">Gerenciar</a>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}
