<!DOCTYPE html>
<html lang="pt">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ base_path }}/assets/css/uikit.min.css">
		<link rel="stylesheet" href="{{ base_path }}/assets/css/estilos.css">
		<link rel="stylesheet" href="{{ base_path }}/assets/css/m_estilos.css">
		<script type="text/javascript" src="{{ base_path }}/assets/js/uikit.min.js"></script>
		<title>{{ title }}</title>
	</head>

	<body>
		{% include "site/partials/header.html" %}
		{% block content %}{% endblock %}


		{% if message['message'] %}
		<script>
			UIkit.modal.alert('{{ message['message'] }}').show();
		</script>
		{% endif %}

	</body>

</html>
