<div class="uk-position-relative ">
  <div
    uk-sticky="sel-target: .uk-position-relative; cls-active: nav-sticky; cls-inactive: nav-fixo ;top:200;animation: uk-animation-slide-top;">
    <div class="uk-position-relative">
      <div class="uk-container ">
        <nav class="uk-navbar-container " uk-navbar>
          <div class="uk-navbar-left ">
            <ul class="uk-navbar-nav  ">
              <li class="uk-flex uk-flex-middle">
                <a><img src="{{ base_path }}/assets/img/logo-manole.webp" width="80" /></a>
              </li>

            </ul>
          </div>

          <div class="uk-navbar-right ">
            <ul class="uk-navbar-nav ">
              <li>
                <a href="{{ base_path }}" class="uk-button uk-button-default">Adicionar produto</a>
              </li>
              <li>
                <a href="{{ base_path }}/gerador_email" class="uk-button uk-button-default">Regua de E-mail</a>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>
</div>
